/* 10 */
.rowContainer {
    display: flex;
    flex-flow: row;
}

/* 11 */
.rowContainer section {
    width: 50%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin: 1em;
}

/* 11 */
.rowContainer img {
    display: block;
    margin: 3em auto 0;
}